<section id="contact" class="contact">
    <div class="container">
        <h2 class="heading">Contact Me</h2>
        <div class="d-flex justify-content-center mb-5">
            <span class="seperator"></span>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-4 col-sm-12 contact__info">
                <ul>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z" />
                        </svg>
                        <a href="https://goo.gl/maps/3jkekrFBqDdiLrWN7" target="_blank">
                            <h4>Some Address</h4>
                        </a>
                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                        </svg>
                        <a href="mailto:shlommi@gmail.com">
                            <h4>some@mail.com</h4>
                        </a>

                    </li>
                    <li>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                            <path
                                d="M80 0C44.7 0 16 28.7 16 64V448c0 35.3 28.7 64 64 64H304c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H80zm80 432h64c8.8 0 16 7.2 16 16s-7.2 16-16 16H160c-8.8 0-16-7.2-16-16s7.2-16 16-16z" />
                        </svg>
                        <a href="tel:050-421-5503">

                            <h4>050-4215503</h4>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Form -->
            <div class="col-lg-8 ">
                <div class="contact__form">
                    <form netlify>
                        <div class="row">
                            <div class="col-md-6">
                                <!-- Name -->
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input name="name" matInput required placeholder="Your Name">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- Email -->
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>Email</mat-label>
                                    <input name="email" matInput required placeholder="Your Email">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="mt-3">
                            <!-- Subject -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Subject</mat-label>
                                <input name="subject" matInput required placeholder="Subject">
                            </mat-form-field>
                        </div>
                        <div class="mt-3">
                            <!-- Message -->
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Message</mat-label>
                                <textarea name="message" matInput required placeholder="lets talk..."></textarea>
                            </mat-form-field>
                        </div>
                        <div class="text-center my-3">
                            <button mat-raised-button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>