@import "../../styles/vars";
@import '../../styles/global';

.about {

    padding: 0 3rem;

    &__heading {
        margin-top: 2rem;
        color: $dark_green;
        font-family: $font_black;
        font-size: 1.75rem;

    }

    &__list {

        ul {
            list-style-type: square;

            li {
                padding: 0.375rem;
            }

            li::marker {
                font-size: 150%;
                color: $dark_green;
            }
        }

    }


}