<section class="about" id="about">
    <div class="container">
        <h2 class="heading">About</h2>
        <div class="d-flex justify-content-center mb-5">
            <span class="seperator"></span>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12">
                <div class="about__content">
                    <p>I am a Software QA Engineer specializing in User Experience and User Interface. I started this
                        journey in 2018 while I am the father of my three children and working full time in a
                        non-programming job.I am well-versed in the web development area on the client side and have a
                        strong passion for programming. I am hardworking and dedicated, autodidact, and eager to learn,
                        develop and apply new technologies.</p>

                    <p>Currently, I keep learning the technology stack for automation testing. I’m
                        looking
                        for a position where I can progress and challenge my skills. </p>
                </div>
                <h2 class="heading">What I do for fun
                </h2>
                <div class="d-flex justify-content-center mb-5">
                    <span class="seperator"></span>
                </div>
                <div>
                    <ul>
                        <li>
                            <p>Travel . on Saturday's with my family in our beautiful country.</p>
                        </li>
                        <li>
                            <p>I like photography and always take a camera with me to picture landscapes views,
                                portraits of my kids and nature.</p>
                        </li>
                        <li>
                            <p>Cook. I love figuring out new recipes to create tasty meals for my family.</p>
                        </li>
                        <li>
                            <p>Digital music. it's my favorite music and I like to listen to all the genres of it. <a
                                    href="https://www.di.fm/" target="_blank">https://www.di.fm/</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>