@import '../../styles/vars';
@import '../../styles/global';

.resume {
    ul {
        list-style-type: none;
        padding: 0;

        li {

            margin-right: 2rem;
            padding: 0.675rem;

            img {
                width: 80px;
                height: 80px;
                display: inline-block;
            }
        }
    }

    &__skills {
        padding: 1rem 0;
    }

    &__details {
        padding: 0 3rem;
    }


    &__resume-item {

        border-left: 2px solid $green;
        padding: 0 0 1.175rem 1.175rem;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            left: -10px;
            width: 1.175rem;
            height: 1.175rem;
            border-radius: 50px;
            background-color: $white_green;
            border: 2px solid $green;

        }

        h4 {

            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: $green;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 1rem;
            background: #f7f8f9;
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 0.75rem;
            color: $dark_green;
        }

        ul {
            list-style-type: square;
            padding: 0 1.5rem;

            li {
                padding: 00.275rem;

                &::marker {
                    color: $dark_green;
                }
            }

        }
    }
}